table {
  width: auto;
  margin: 1em 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd #ccc #ccc #ddd;
  background-color: #fff;
  margin: 0 auto; }

caption {
  padding-bottom: 0.3em; }

th,
td {
  padding: 0.3em 10px;
  border-collapse: separate;
  border-spacing: 1px; }

th {
  border-right: 1px solid #ddd;
  color: #333;
  background-color: #f5f5f5; }

td {
  border-right: 1px solid #eee;
  border-top: 1px solid #eee; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2b2e2f;
  background-color: #cddee3;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "palt" 1;
  -moz-font-feature-settings: "palt" 1;
  -o-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img:not(.emoji) {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

article > .post-content > p {
  text-indent: 1rem; }
article header {
  background: rgba(166, 200, 212, 0.3);
  padding: 5pt 20pt 5pt 20pt; }
article .post-content[itemprop="articleBody"] {
  border-style: solid;
  border-color: rgba(138, 138, 138, 0.35);
  border-width: 2px;
  border-radius: 5px;
  padding: 5px 20px 30px 20px;
  margin-top: -10px; }
  @media screen and (max-width: 600px) {
    article .post-content[itemprop="articleBody"] {
      padding: 5px 12px 30px 12px;
      border-style: none; } }
  article .post-content[itemprop="articleBody"] h1:not(:first-child) {
    border-bottom: solid 3px #eee;
    margin-top: 2rem; }
  article .post-content[itemprop="articleBody"] h2:not(:first-child) {
    border-bottom: solid 2px #eee;
    margin-top: 2rem; }
  article .post-content[itemprop="articleBody"] h3 :not(:first-child), article .post-content[itemprop="articleBody"] h4 :not(:first-child), article .post-content[itemprop="articleBody"] h5 :not(:first-child), article .post-content[itemprop="articleBody"] h6 :not(:first-child) {
    border-bottom: solid 1px #eee;
    margin-top: 1rem; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #2b2e2f;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
.highlight {
  background: #eef; }

.listing-name {
  background: rgba(179, 220, 232, 0.79);
  color: #38747f;
  padding: 0.1rem 0.4rem 0.3rem 0.3rem;
  display: inline-block; }

pre, code {
  font-size: 15px;
  border-radius: 3px;
  background: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    margin: auto; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1200px - (30px * 2));
  max-width: calc(1200px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(1200px - (30px));
      max-width: calc(1200px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Footnote
 */
.footnotes p {
  margin-bottom: 3pt; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  padding-top: 56pt; }
  @media screen and (max-width: 600px) {
    .page-content {
      padding-top: 65pt; } }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h1 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h1 {
        font-size: 28px; } }
  .post-content h2 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 22px; } }
  .post-content h3 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 18px; } }

code {
  margin: 0px 5px 0px 5px;
  font-family: 'Droid Sans Mono', 'Bitstream Vera Sans Mono','Courier', monospace; }

.highlight {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 90%;
  /* http://mattn.kaoriya.net/software/20160215110235.htm */
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .c {
    color: #586E75; }
  .highlight .err {
    color: #93A1A1; }
  .highlight .g {
    color: #93A1A1; }
  .highlight .k {
    color: #859900; }
  .highlight .l {
    color: #93A1A1; }
  .highlight .n {
    color: #93A1A1; }
  .highlight .o {
    color: #859900; }
  .highlight .x {
    color: #CB4B16; }
  .highlight .p {
    color: #93A1A1; }
  .highlight .cm {
    color: #586E75; }
  .highlight .cp {
    color: #859900; }
  .highlight .c1 {
    color: #586E75; }
  .highlight .cs {
    color: #859900; }
  .highlight .gd {
    color: #2AA198; }
  .highlight .ge {
    color: #93A1A1;
    font-style: italic; }
  .highlight .gr {
    color: #DC322F; }
  .highlight .gh {
    color: #CB4B16; }
  .highlight .gi {
    color: #859900; }
  .highlight .go {
    color: #93A1A1; }
  .highlight .gp {
    color: #93A1A1; }
  .highlight .gs {
    color: #93A1A1;
    font-weight: bold; }
  .highlight .gu {
    color: #CB4B16; }
  .highlight .gt {
    color: #93A1A1; }
  .highlight .kc {
    color: #CB4B16; }
  .highlight .kd {
    color: #268BD2; }
  .highlight .kn {
    color: #859900; }
  .highlight .kp {
    color: #859900; }
  .highlight .kr {
    color: #268BD2; }
  .highlight .kt {
    color: #DC322F; }
  .highlight .ld {
    color: #93A1A1; }
  .highlight .m {
    color: #2AA198; }
  .highlight .s {
    color: #2AA198; }
  .highlight .na {
    color: #93A1A1; }
  .highlight .nb {
    color: #B58900; }
  .highlight .nc {
    color: #268BD2; }
  .highlight .no {
    color: #CB4B16; }
  .highlight .nd {
    color: #268BD2; }
  .highlight .ni {
    color: #CB4B16; }
  .highlight .ne {
    color: #CB4B16; }
  .highlight .nf {
    color: #268BD2; }
  .highlight .nl {
    color: #93A1A1; }
  .highlight .nn {
    color: #93A1A1; }
  .highlight .nx {
    color: #555; }
  .highlight .py {
    color: #93A1A1; }
  .highlight .nt {
    color: #268BD2; }
  .highlight .nv {
    color: #268BD2; }
  .highlight .ow {
    color: #859900; }
  .highlight .w {
    color: #93A1A1; }
  .highlight .mf {
    color: #2AA198; }
  .highlight .mh {
    color: #2AA198; }
  .highlight .mi {
    color: #2AA198; }
  .highlight .mo {
    color: #2AA198; }
  .highlight .sb {
    color: #586E75; }
  .highlight .sc {
    color: #2AA198; }
  .highlight .sd {
    color: #93A1A1; }
  .highlight .s2 {
    color: #2AA198; }
  .highlight .se {
    color: #CB4B16; }
  .highlight .sh {
    color: #93A1A1; }
  .highlight .si {
    color: #2AA198; }
  .highlight .sx {
    color: #2AA198; }
  .highlight .sr {
    color: #DC322F; }
  .highlight .s1 {
    color: #2AA198; }
  .highlight .ss {
    color: #2AA198; }
  .highlight .bp {
    color: #268BD2; }
  .highlight .vc {
    color: #268BD2; }
  .highlight .vg {
    color: #268BD2; }
  .highlight .vi {
    color: #268BD2; }
  .highlight .il {
    color: #2AA198; }

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: fixed;
  background: rgba(190, 220, 223, 0.8);
  width: 100%;
  z-index: 10; }
  @media screen and (max-width: 600px) {
    .site-header {
      height: 56px; } }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  white-space: nowrap; }
  @media screen and (max-width: 600px) {
    .site-title {
      font-size: 23px;
      margin-top: 4px; } }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #2b2e2f;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      font-size: 12px;
      position: absolute;
      right: 0;
      background: 0, 0, 0, 0;
      border-left: 1px solid #e8e8e8;
      text-align: right; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 10px;
        margin-right: 10px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

.pagination.btn-group {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(190, 220, 223, 0.8);
  padding-bottom: 1rem;
  border-top: 1px solid #e8e8e8; }
  @media screen and (max-width: 600px) {
    .pagination.btn-group {
      padding-bottom: 0; } }

div.footnotes {
  font-size: 12.8px;
  color: #424242; }
  div.footnotes:before {
    content: "Footnote"; }

twitterwidget {
  margin: 0 auto; }

.twitter-not-found {
  color: rgba(0, 0, 0, 0.4); }

.MathJax_Preview + .MathJax_Display {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  margin: 0 auto !important;
  max-width: 90% !important;
  background: #eee !important;
  overflow-x: auto !important;
  font: 400 16px "Crimson Text", serif !important;
  font-size: 125% !important; }

.MathJax_Preview + .MathJax {
  padding: 2px 3px 2px 2px;
  margin-left: 5px;
  margin-right: 5px;
  background: #eee !important;
  font: 400 16px "Crimson Text", serif !important; }

.github-widget {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 90%; }

.gist {
  margin: 0 auto;
  max-width: 90%; }
